html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto-light", sans-serif;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-image: url(./assets/bgk-header.png);
  background-size: cover;
  color: white;
}

#container-hero-unit {
  margin: 1rem 18rem;
}

.container {
  margin: 1rem 20rem;
  padding: 5rem 0rem;
}

.logo {
  display: flex;
  align-items: center;
  color: #00e0d0;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-item {
  font-weight: bold;
  margin: 0.5rem;
}

.hero-unit {
  text-align: center;
  padding: 10rem 5rem;
}

.divider-blue {
  border: solid #00e0d0 0.1rem;
  background-color: #00e0d0;
  width: 4rem;
}

.btn-transparent {
  color: #00e0d0;
  border: solid #00e0d0 0.05rem;
  border-radius: 5%;
  background: transparent;
  font-family: "Roboto";
  font-weight: bold;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
}

#our-story {
  display: flex;
  align-items: center;
}

.our-story-text {
  margin-left: 7rem;
}

.watch-our-story {
  background-image: url("./assets/bgk-middle.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: white;
  font-size: 1.5rem;
  padding: 15rem;
}

.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play img {
  width: fit-content;
  margin: 1.5rem;
}

#expertise {
  text-align: center;
}

.divider-grey {
  border: solid #c6c4c9 0.1rem;
  background-color: #c6c4c9;
  width: 4rem;
}

.expertise-icons-grid-container {
  margin-top: 5rem;
}

.expertise-icons-grid {
  display: flex;
  justify-content: center;
}

.expertise-item {
  padding: 1.5rem 2rem;
}

.border-right {
  border-right: 1px solid lightgrey;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
}

#team {
  background-image: url(./assets/bgk-header.png);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.team-cards {
  display: flex;
  margin: 3.5rem;
}

.team-card-indi {
  border: solid lightgrey 0.01rem;
  margin: 1rem;
}

.team-card-indi img {
  width: 200px;
}

#feedback-clients-container {
  display: flex;
  justify-content: center;
}

.feedback-container {
  flex-direction: column;
  margin-right: 5rem;
}

.feedback-container input {
  display: block;
  height: 2rem;
  min-width: 20rem;
  margin: 1rem 0;
  font-family: Roboto;
}

.feedback-container textarea {
  min-width: 20rem;
  display: block;
  font-family: "Roboto";
}

.client-container {
  display: flex;
}

.client-container img {
  width: 130px;
  margin: 1.2rem;
}

footer {
  background-image: url(./assets/bgk-footer.png);
  background-size: cover;
  color: white;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.footer-boxes {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin: 2rem;
}

.studio-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.studio-box img {
  object-fit: contain;
  margin-right: 1rem;
}

.stay-in-touch-box {
  display: flex;
}

.nl-form {
  display: flex;
  margin-bottom: 2rem;
}

.nl-form input {
  height: 3rem;
  background-color: transparent;
  outline: solid lightgrey 0.1rem;
  border: none;
  font-family: Roboto;
  min-width: 15rem;
}

.nl-submit-button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin-left: 1rem;
  width: 4.5rem;
  height: 3rem;
  cursor: pointer;
}

.social-icons img {
  margin: 0.3rem;
  cursor: pointer;
}

.legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legal-links {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}

.legal-links li {
  margin-right: 1.5rem;
}
